.DS_Store
node_modules
/dist
# Sample image collection for testing
src/assets/data

# local env files
.env
.env.local
.env.*.local
.env.*
!.env.sample

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# WSL temp files
*:Zone.Identifier
